doctype html
html
    head
        title SneakChat Register by gwanwoodev
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css')
        link(rel='stylesheet', href='css/all.min.css')
        link(rel='stylesheet', href='css/user.css')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='js/encrypt.js')
        script(src='js/register.js')
    body
        #contents
            section.hero.is-dark.is-bold
                .container
                    h1.title UserRegister
            section.login-container
                .container
                    .columns
                        .box.column.is-8.is-offset-2
                            form(id="register", action="/join", method="post")
                                .control.has-icons-left.has-icons-right
                                    input(type="text", placeholder="userid", class="input is-medium", name="username")
                                    span.icon.is-left
                                        i.far.fa-user
                                    span.icon.is-right
                                        i.fas.fa-check
                                .control.has-icons-left.has-icons-right
                                    input(type="text", placeholder="nickname", class="input is-medium", name="usernick")
                                    span.icon.is-left
                                        i.fas.fa-user-edit
                                    span.icon.is-right
                                        i.fas.fa-check
                                .control.has-icons-left.has-icons-right
                                    input(type="password", placeholder="password", class="input is-medium" name="password")
                                    span.icon.is-left
                                        i.fas.fa-unlock-alt
                                    span.icon.is-right
                                        i.fas.fa-check
                                input(type="button", class="button is-success" value="Sign up", id="send")